<!-- Footer -->
<section id="footer">
  <div class="inner">
    <h2 class="major">Skontaktuj się z nami</h2>
    <p>Komunikacja jest dla nas istotna! Jeśli nie możesz znaleźć interesującej Cię informacji lub chcesz zadać pytanie, napisz do nas!</p>
    <form method="post" action="#">
      <div class="field">
        <label for="name">Imie</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Wiadomość</label>
        <textarea name="message" id="message" rows="4"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    </form>
    <ul class="contact">
      <li class="fa-home">
        Unicode Sp. z o.o.<br />
        <span style="font-size: .9rem;">
        NIP: 7322217660<br />
        REGON: 528036680<br />
        KRS: 0001093472
        </span>
      </li>
      <li class="fa-phone">+48 504164504</li>
      <li class="fa-phone">+48 504164504</li>
      <li class="fa-envelope"><a href="#">info@unicode.pl</a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Unicode Sp. z o.o.</li>
    </ul>
  </div>
</section>
